@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format("woff2");
    unicode-range:u + 0460-052f, u + 1c80-1c88, u + 20b4, u + 2de0-2dff, u + a640-a69f, u + fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format("woff2");
    unicode-range:u + 1f??
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
    unicode-range:u + 0460-052f, u + 1c80-1c88, u + 20b4, u + 2de0-2dff, u + a640-a69f, u + fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format("woff2");
    unicode-range:u + 1f??
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
    unicode-range:u + 0460-052f, u + 1c80-1c88, u + 20b4, u + 2de0-2dff, u + a640-a69f, u + fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
    unicode-range:u + 1f??
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
    unicode-range:u + 0460-052f, u + 1c80-1c88, u + 20b4, u + 2de0-2dff, u + a640-a69f, u + fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
    unicode-range:u + 1f??
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
    unicode-range:u + 0460-052f, u + 1c80-1c88, u + 20b4, u + 2de0-2dff, u + a640-a69f, u + fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
    unicode-range:u + 1f??
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Material Icons Extended;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/materialiconsextended/v149/kJEjBvgX7BgnkSrUwT8UnLVc38YydejYY-oE_LvJ.woff2) format("woff2")
}

.material-icons-extended {
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-family:Material Icons Extended
}

@font-face {
    font-display: swap;
    font-family: Google Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlematerialicons/v137/Gw6kwdfw6UnXLJCcmafZyFRXb3BL9rvi0QZG3Q.woff2) format("woff2")
}

.google-material-icons, .material-icons-extended {
    word-wrap: normal;
    direction: ltr;
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space:nowrap
}

.google-material-icons {
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-family:Google Material Icons
}

@font-face {
    font-display: swap;
    font-family: Product Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVGdeOcEg.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Product Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2ugCIlsw.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vQCIlsw.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vACIlsw.woff2) format("woff2");
    unicode-range:u + 0590-05ff, u + 200c-2010, u + 20aa, u + 25cc, u + fb1d-fb4f
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2sQCIlsw.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2sACIlsw.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vgCI.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2ugCIlsw.woff2) format("woff2");
    unicode-range:u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vQCIlsw.woff2) format("woff2");
    unicode-range:u + 0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vACIlsw.woff2) format("woff2");
    unicode-range:u + 0590-05ff, u + 200c-2010, u + 20aa, u + 25cc, u + fb1d-fb4f
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2sQCIlsw.woff2) format("woff2");
    unicode-range:u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169, u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309, u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2sACIlsw.woff2) format("woff2");
    unicode-range:u + 0100-02af, u + 0304, u + 0308, u + 0329, u + 1e00-1e9f, u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20cf, u + 2113, u + 2c60-2c7f, u + a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v29/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vgCI.woff2) format("woff2");
    unicode-range:u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6, u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 2074, u + 20ac, u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd
}

body, html {
    overflow:hidden
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color:#000000de
}

body, textarea {
    font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}

a {
    color:#2962ff
}

img {
    border:none
}

* {
    -webkit-tap-highlight-color:transparent
}

body, html {
    overflow:visible
}

body {
    overflow-y:scroll
}

@keyframes mdc-ripple-fg-radius-in {
    0% {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        transform: translate(0) scale(1);
        transform:translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1)
    }

    to {
        transform: translate(0) scale(1);
        transform:translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1))
    }
}

@keyframes mdc-ripple-fg-opacity-in {
    0% {
        animation-timing-function: linear;
        opacity:0
    }

    to {
        opacity: 0;
        opacity:var(--mdc-ripple-fg-opacity, 0)
    }
}

@keyframes mdc-ripple-fg-opacity-out {
    0% {
        animation-timing-function: linear;
        opacity: 0;
        opacity:var(--mdc-ripple-fg-opacity, 0)
    }

    to {
        opacity:0
    }
}

@keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon-rtl {
    0% {
        transform:translateX(32px) translateY(-34.75px) scale(.75)
    }

    33% {
        animation-timing-function: cubic-bezier(.5, 0, .701732, .495819);
        transform:translateX(calc(4% + 32px)) translateY(-34.75px) scale(.75)
    }

    66% {
        animation-timing-function: cubic-bezier(.302435, .381352, .55, .956352);
        transform:translateX(calc(-4% + 32px)) translateY(-34.75px) scale(.75)
    }

    to {
        transform:translateX(32px) translateY(-34.75px) scale(.75)
    }
}

applet, body, caption, dd, div, dl, dt, embed, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, li, object, ol, p, table, tbody, td, tfoot, th, thead, tr, ul {
    border: 0;
    margin: 0;
    padding:0
}

input, option, select, textarea {
    font-family: inherit;
    font-size:inherit
}

button {
    -webkit-font-smoothing: inherit;
    align-items: normal;
    background: none;
    box-sizing: initial;
    margin: 0;
    padding: 0;
    text-align:inherit
}

button, h1, h2, h3 {
    font:inherit
}

ul {
    list-style-type:none
}

body, html {
    position: relative;
    z-index:-1
}

body {
    background-color: #eee;
    color: #333;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    text-rendering:optimizeLegibility
}

a {
    text-decoration:none
}
